mixin zone( zone )
  
  if zone.end && zone.pos

    g.zone( id='zone-' + zone.pos, data-end=zone.end )
      
      polygon.zone--ploygon( points="" )

      if zone.label

        text.zone--label !{zone.label}