
head
  title= "Timeline"
  meta( charset="utf-8" )
  meta( http-equiv="x-ua-compatible" content="ie=edge" )
  meta( name="author" content="Selma Lepart" )
  meta( name="robots" content="all,follow" )
  meta( name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" )
  link( rel="stylesheet", type="text/css", href="style.css", media="screen, print" )
  link( href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet")

body

  svg#timeline--background
  div#timeline--content
  
  // No javascript alert
  noscript
    p Vous utilisez un navigateur qui n'interprète pas le javascript, merci de le réactiver pour voir la timeline

  script( src="d3.min.js" )
  //script( src="d3-ease.min.js" )
  script( src="script.js") 