head
  title= "Experimental Zone :: N.Lebrun"
  meta( charset="utf-8" )
  meta( http-equiv="x-ua-compatible" content="ie=edge" )
  meta( name="author" content="Nicolas Lebrun" )
  meta( name="robots" content="all,follow" )
  meta( name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" )
  link( rel="stylesheet", type="text/css", href="style.css", media="screen, print" )


body

  svg.timeline

  script( src="d3.min.js" ) // v5
  script( src="script.min.js")