- var currentYear = new Date().getFullYear();
include pug/zone-mixin.pug
include pug/event-mixin.pug

head
  title= "Timeline"
  meta( charset="utf-8" )
  meta( http-equiv="x-ua-compatible" content="ie=edge" )
  meta( name="author" content="Selma Lepart" )
  meta( name="robots" content="all,follow" )
  meta( name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" )
  link( rel="stylesheet", type="text/css", href="style.css", media="screen, print" )


body

  //svg.timeline
  //script( src="d3.min.js" ) // v5
  //script( src="script.min.js")

  
  #timeline(data-start="-6000", data-end=currentYear )

    #timeline--zones
      each zone in data.zone
        + zone( zone )

    #timeline--events
      each event in data.event
        + event( event )
  
  script( src="main.min.js")
