body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(39, 39, 39);
}

#timeline {
    position: relative;
    display: block;
}

#timeline svg#timeline--zones {
    position: absolute;
    z-index: -1;

    line,
    text,
    polygon {
        shape-rendering: crispEdges;
    }
}

#timeline #timeline--events {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    //overflow: hidden;
    z-index: 1;
}

#timeline svg#timeline--zones g#year-axis g.year {
    line {
        stroke: rgba(255, 255, 255, 0.25);
        stroke-dasharray: 5 5;
    }

    text {
        fill: rgb(29, 29, 29);
        font-size: 9px;
        text-anchor: middle;
        transform: translate(0, 6px) rotate(-90deg);

    }
}

#timeline svg#timeline--zones g#zone-group {

    text {
        text-anchor: start;
    }
}

#timeline svg#timeline--zones g#zone-labels-group {
    text {
        fill: rgb(29, 29, 29);
    }
}

#timeline #timeline--events .event {
    position: absolute;

    .event-inner {
        position: relative;
        margin-left: -8px;
        padding: 2px 4px;
        max-width: 120px;
        background: #fefefe;
        border-radius: 2px;
        border-top-left-radius: 0;
        box-shadow: 1px 3px 3px rgba(0, 0, 0, .15);

        &::after {
            position: absolute;
            display: block;
            content: '';
            top: 0;
            left: 0;
            margin-top: -16px;
            border: 8px solid rgba(0, 0, 0, 0);
            border-bottom-color: #fefefe;
        }
    }

    h2 {
        font-size: 14px;
        line-height: 14px;
        margin: 0;
    }

    p {
        font-size: 9px;
    }

    a {
        float: left;
        font-weight: bolder;
        font-size: 24px;
        color: #fff;
        text-shadow: 0 0 3px rgba(0, 0, 0, .5);
        text-decoration: none;
    }

}